@model IEnumerable<Lin_Tiffany_HW5_V2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Customer"))
                        {
                            @*<span>|</span>
                            <a asp-action="AddToCart" asp-controller="Registrations" asp-route-courseID="@item.CourseID">Add to Cart</a>*@
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <span>|</span>
                            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
